/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Background Image Section */
.large-bg {
    position: relative;
    overflow: hidden;
}

.large-bg img {
    width: 100%;
    height: auto;
}

.bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.bg-text h1, .bg-text p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
    margin: 0;
}

.bg-text h1 {
    font-size: 4em;
    font-weight: bold;
}

.bg-text p {
    font-size: 2em;
    margin-top: 20px;
}

/* Navbar Styles */
.navbar {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 5px 15px;
    transition: all 0.3s;
    position: relative;
}

.navbar a:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: black;
}

/* About Me Section */

.about-me-section {
    display: flex;
    justify-content: center;
    padding: 50px 20%;
    background-color: aliceblue;
  }
  
  .profile-card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 700px;
  }
  
  .profile-pic {
    width: 1000px; /* Adjust size as needed */
    height: auto;
    border-radius: 0; /* Adjust for non-circular image */
    overflow: hidden;
    margin-right: 30px;
  }
  
  
  .profile-pic img {
    width: 100%;
    height: auto;
  }
  
  .about-text {
    text-align: left;
    flex-grow: 1;
  }

/* Projects Section */
.projects-section {
    padding: 20px 10%;
    background: linear-gradient(135deg, #333, #555);
    /* You can adjust the angle and colors as needed */
    color: white; /* Set text color to contrast the background */
    padding: 20px; /* Adjust padding as needed */

}
  
.myPro {
    text-align: center;
}

.icons {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.icons img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.projects {
    display: flex;
    margin: 10px;
    flex-basis: 30%;
}
.projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

.web,
.pl,
.apps {
    text-align: center;
    flex: 30%; /* Set each section to take up 30% of the container width */
    margin-top: 20px;
    background-color: #333;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    overflow: hidden;
    max-height: 300px; /* Set the initial height */
    transition: max-height 0.3s ease-in-out; /* Add a smooth transition */
}

.web.expanded,
.pl.expanded,
.apps.expanded {
  max-height: 500px; /* Set the expanded height */
}

.face {
    height: 250px;
    width: auto;
}

/* Contact Section */
.contact-section {
    padding: 20px 10%;
    background-color: #ececec;
}

.social {
    display: flex;
}

.social-icon {
    align-items: right; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 40px;
    width: auto;
    padding: 10px;
}


@media (max-width: 992px) {
    /* About Me Section */
    .about-me-section, .profile-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

    /* Projects Section */
    .project {
        flex-direction: column;
    }

    .profile-pic {
        width: 80%; /* Adjust for mobile view */
        margin-right: 0;
        margin-bottom: 20px;
      }
    

    .project img, .project.project-reverse img {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .project .project-details h3 {
        font-size: 1.5em; 
    }
}

/* Mobile */
@media (max-width: 992px) {
    /* Navbar Styles */
    .navbar {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    .navbar a {
        padding: 10px;
    }

    /* Background Image Section */
    .bg-text h1 {
        font-size: 2.5em;
    }

    .bg-text p {
        font-size: 1.5em;
    }

    /* Projects Section */
    .project img, .project.project-reverse img {
        width: 80%;
        margin: 0 auto;
    }

    /* Contact Section */
    .social-icon {
        margin: 10px;
    }

    .about-me-section, .profile-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: auto;
      }
    
      .profile-pic {
        margin-right: 0;
        margin-bottom: 20px;
      }
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    background-color: #f4f4f4;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

.download-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 4px;
}

.project-video {
    width: 100%;         /* Ensure the video takes the full width of its container */
    max-width: 150px;    /* Limit the maximum width */

    border-radius: 5px;  /* Optional: If you want rounded corners */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .projects-container {
      flex-direction: column;
      align-items: center;
    }
  
    .project {
      flex-basis: 100%;
    }
  }
  