/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Background Image Section */
.large-bg {
    position: relative;
    overflow: hidden;
}

.large-bg img {
    width: 100%;
    height: auto;
}

.bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.bg-text h1, .bg-text p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
    margin: 0;
}

.bg-text h1 {
    font-size: 4em;
    font-weight: bold;
}

.bg-text p {
    font-size: 2em;
    margin-top: 20px;
}

/* Navbar Styles */
.navbar {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 5px 15px;
    transition: all 0.3s;
    position: relative;
}

.navbar a:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: black;
}

/* About Me Section */
.about-me-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allows wrapping for smaller screens */
    padding: 50px 20%;
    background-color: aliceblue;
}

.profile-card, .tools-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.profile-card {
    display: flex;
    flex-basis: 60%; /* Adjust the size as needed */
}

.profile-pic {
    width: 800px; /* Adjust size as needed */
    height: auto;
    overflow: hidden;
    margin-right: 30px;
}

.profile-pic img {
    width: 100%;
    height: auto;
}

.about-text {
    text-align: left;
    flex-grow: 1;
}

.tools-card {
    flex-basis: 45%; /* Adjust the size as needed */
    display: flex;
    justify-content: space-around; /* Space out icons evenly */
    align-items: center;
}

.icon {
    width: 50px; /* Adjust icon size as needed */
    height: auto;
    padding: 5px;
}

/* Projects Section */
.projects-section {
    padding: 20px 10%;
    background: linear-gradient(135deg, #333, #555);
    color: white;
}

.myPro {
    text-align: center;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.web, .pl, .apps {
    text-align: center;
    flex: 30%;
    margin-top: 20px;
    background-color: #333;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    overflow: hidden;
    max-height: 300px;
    transition: max-height 0.3s ease-in-out;
}

.web.expanded, .pl.expanded, .apps.expanded {
    max-height: 500px;
}

.face {
    height: 250px;
    width: auto;
}

/* Contact Section */
.contact-section {
    padding: 20px 10%;
    background-color: #ececec;
}

.social-icon {
    align-items: right; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 40px;
    width: auto;
    padding: 10px;
}

/* Media Queries */
@media (max-width: 992px) {
    .about-me-section, .profile-card, .tools-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-basis: 100%;
    }

    .profile-pic {
        width: 80%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .navbar {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    .navbar a {
        padding: 10px;
    }

    .bg-text h1 {
        font-size: 2.5em;
    }

    .bg-text p {
        font-size: 1.5em;
    }

    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project {
        flex-basis: 100%;
    }
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    background-color: #f4f4f4;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

.download-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 4px;
}

.project-video {
    width: 100%;
    max-width: 150px;
    border-radius: 5px;
}
